<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="838989">  <td>19/04/24 17:17:00</td>   <td>0</td> <td title="&lt;&lt;TestRunner.afterSuite()[pri:0, instance:com.podium.TestRunner@60c6f5b]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/04/24 17:16:59</td>   <td>-465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.podium.TestRunner@60c6f5b]">runScenario</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/04/24 17:16:59</td>   <td>-249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.podium.TestRunner@60c6f5b]">runScenario</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/04/24 17:16:59</td>   <td>-246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.podium.TestRunner@60c6f5b]">runScenario</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/04/24 17:16:59</td>   <td>-243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.podium.TestRunner@60c6f5b]">runScenario</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/04/24 17:16:59</td>   <td>-241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.podium.TestRunner@60c6f5b]">runScenario</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/04/24 17:16:59</td>   <td>-238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.podium.TestRunner@60c6f5b]">runScenario</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/04/24 17:16:59</td>   <td>-236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.podium.TestRunner@60c6f5b]">runScenario</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/04/24 17:16:59</td>   <td>-234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.podium.TestRunner@60c6f5b]">runScenario</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/04/24 17:16:59</td>   <td>-232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.podium.TestRunner@60c6f5b]">runScenario</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/04/24 17:16:59</td>   <td>-230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.podium.TestRunner@60c6f5b]">runScenario</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/04/24 17:16:59</td>   <td>-227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.podium.TestRunner@60c6f5b]">runScenario</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/04/24 17:16:59</td>   <td>-225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.podium.TestRunner@60c6f5b]">runScenario</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/04/24 17:16:59</td>   <td>-221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.podium.TestRunner@60c6f5b]">runScenario</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/04/24 17:16:59</td>   <td>-219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.podium.TestRunner@60c6f5b]">runScenario</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/04/24 17:16:59</td>   <td>-217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.podium.TestRunner@60c6f5b]">runScenario</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/04/24 17:16:59</td>   <td>-215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.podium.TestRunner@60c6f5b]">runScenario</td> 
  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/04/24 17:16:59</td>   <td>-610</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.podium.TestRunner@60c6f5b]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/04/24 17:16:59</td>   <td>-211</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.podium.TestRunner@60c6f5b]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1651855867</td>   <td></td> </tr>
</table>
